
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.env

instance/
.webassets-cache/


.pytest_cache/
.coverage
htmlcov/


*.db
*.sqlite
*.sqlite3

backend/data/

*.log
.vscode/
.vs/

.DS_Store
Thumbs.db